@import "tailwindcss";

@font-face {
  font-family: "Audrey";
  src: url("/fonts//Audrey/Audrey-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik/Graphik-Regular-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Graphik", sans-serif;
}


h1 {
  font-family: "Audrey", sans-serif;
}

button {
  cursor: pointer;
}

button:active {
  scale: 95%;
}
